<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="principal-container">
        <div class="dashboard-container">
            <img src="../imgs/DAFL.jpg" alt="logo-daft">
            <ul>
                <a href="./index.html" style="border-bottom: solid #f68b8b;"><li><img src="https://cdn-icons-png.flaticon.com/512/2626/2626923.png" alt="" class="dashboard-icon">Inicio</li></a>
                
                <a href="./users.html"><li><img src="https://cdn-icons-png.flaticon.com/512/9356/9356328.png" alt="" class="dashboard-icon">Usuarios</li></a>
                
                <span><li class="click-open-options"><img src="https://cdn-icons-png.flaticon.com/512/3712/3712193.png" alt="" class="dashboard-icon">Gestios de productos</span> <img src="https://www.iconsdb.com/icons/preview/white/arrow-29-xxl.png" alt="arrow" class="dashboard-icon" id="arrow-option">
                    <a href="./products.html"><li class="inactive sublistProduct1"><img src="https://cdn-icons-png.flaticon.com/512/679/679821.png" alt="" class="dashboard-icon">Productos</li></a>
                    <a href="">
                        <li class="inactive sublistProduct2"><img src="https://cdn-icons-png.flaticon.com/512/9789/9789304.png" class="dashboard-icon" alt=""> Categorias</li>
                    </a>
                    

            </li>
            </ul>
        </div>
        <div class="main-container">
            <h1>Inicio</h1>
            <img src="../imgs/DAFL.jpg" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id fugiat consequuntur iure rerum explicabo similique quas? Cum fuga eos tenetur error nesciunt, iusto deleniti! Soluta voluptatibus iusto maiores quibusdam tenetur sapiente a illo error, autem et saepe deleniti nesciunt dicta assumenda alias ullam in officiis nulla ad ratione optio aperiam!</p>
        </div>
    </div>
    
    <script src="renderes/rendererIndex.js"></script>
</body>
</html>