*{
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #C0EEF2;
    font-family: 'Roboto', sans-serif;

}
.main-container{
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    height: 30px;
    width: 99%;
    height: 36%;
    min-height: 300px;
    margin: 0 auto;
    padding-left: 50px;

 }
 .main-container h1{
    text-align: center;
    margin-bottom: 3rem;
 }
.main-container form{
    display: inherit;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 11rem;
}
.main-container form div{
    display: flex;
    flex-direction: column;
    font-weight: 500; 
    padding-right: 15px;
    
}
.main-container form button{
    width: 90px;
    height: 38px;
    margin-top: 25px;
    border: none;
    background-color: #181823;
    border: solid 2px #C0EEF2;
    color: #C0EEF2;
    border-radius: 8px;
    cursor: pointer;
}
.main-container form div input{
    border: none;
    border-radius: 8px;
    height: 25px;
}