*{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none !important;
}
body{
    font-family: 'Roboto', sans-serif;
}
.principal-container{
    display: grid;
    grid-template-columns: auto 1fr ;
    min-width: 360px;
}
.dashboard-container{
    background-color: #C0EEF2;
    height: 170vh;
    max-width: 170vh;
    padding-top: 25%;
    min-width: 230px;
    max-width: 100vh;
}
.dashboard-icon{
    width: 18px;
    margin-right: 10px;
}
.dashboard-container ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5%;
}

.dashboard-container ul li{
    color: #181823;
    background: linear-gradient(#f0f0f0 0 0) var(--p,0)/var(--p,0) no-repeat;
    font-size: 15px;
    transition: 0.4s,background-position 0s;
    border-radius: 2px;
    font-weight: 500;
    padding: 10px;
    
}
.dashboard-container ul li:hover{
    --p: 100%;
}
.dashboard-container ul li a{
    color: #181823;
}




/* -----------------CONTAINER------------------------
 */
 .main-container{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    background-color: #C0EEF2;
    height: 30px;
    width: 99%;
    height: 36%;
    min-height: 300px;
    margin: 0 auto;
    padding-left: 50px;

 }
 .main-container h1{
    text-align: center;
    margin-bottom: 3rem;
 }
.main-container form{
    display: inherit;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 11rem;
}
.main-container form div{
    display: flex;
    flex-direction: column;
    font-weight: 500; 
    padding-right: 15px;
    
}
.main-container form button{
    width: 90px;
    height: 38px;
    margin-top: 25px;
    border: none;
    background-color: #181823;
    border: solid 2px #C0EEF2;
    color: #C0EEF2;
    border-radius: 8px;
    cursor: pointer;
}
.main-container form div input{
    border: none;
    border-radius: 8px;
    height: 25px;
}
.main-container div {
    padding-right: 20px;
}
.button-delete{
    cursor: pointer;
    margin: 0;
    margin-right: 30px;
    border-radius: 20px;
    border:  none ;
    transition: 0.4s;
}
.button-delete:hover{
    background-color: #ff405c;

}
.delete-buttom{
    width: 25px;
}
.button-edit{
    cursor: pointer;
    margin: 0;
    border-radius: 12px;
    border:  none ;
    transition: 0.4s;
}
.button-edit:hover{
    background-color: #fedb41;

}
.edit-buttom{
    width: 25px;
}

